body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    padding: 1em 3em;
}

.explanation {
    padding: .5em;
    margin: 2em 1em;
    background-color: rgba(3, 175, 175, 0.16);
    border-radius: 8px;
}
